body{
    background:url(https://www.color-hex.com/palettes/98454.png);
}
h1{
    text-align:center;
    color:white;
    text-decoration: underline;
    font-size: 65px;
}
img{
     height: 35%;
    width: 25%;
    border: 10px solid #FFFFFF;
   
}
h2{
     text-align:center;
}
h3{
    color:white;
    border:3px solid #FFFFFF ;
    text-align:center;
    
}
    
